<%= bootstrap_alert "<strong>Information!</strong> When you don't pass an alert type, it defaults to the information type! Incredible!" %>

<section class="jumbotron text-center">
  <p>You know what time that is?</p>
  <h1>It's... CAT GIF TIME!</h1>
  <h3>It's also <%= current_date_and_time %> wherever this server is located...</h3>

  <figure>
    <%= image_tag @cat_image.url, 'CAT GIF!' %>
    <figcaption>Source: <a href="<%= @cat_image.source_url %>"><%= @cat_image.source_url %></a></figcaption>
  </figure>
</section>
